set firewall name wan.in.eth0 default-action drop
set firewall name wan.in.eth0 description ''
set firewall name wan.in.eth0 rule 10 action accept
set firewall name wan.in.eth0 rule 10 description gtl.telemedicine.vlan.300
set firewall name wan.in.eth0 rule 10 destination group address-group pat02.eth5.telemedicine
set firewall name wan.in.eth0 rule 10 log disable
set firewall name wan.in.eth0 rule 10 protocol all
set firewall name wan.in.eth0 rule 20 action accept
set firewall name wan.in.eth0 rule 20 description gtl.naas.vlan.400
set firewall name wan.in.eth0 rule 20 destination group address-group pat03.eth6.naas
set firewall name wan.in.eth0 rule 20 log disable
set firewall name wan.in.eth0 rule 20 protocol all
set firewall name wan.in.eth0 rule 30 action accept
set firewall name wan.in.eth0 rule 30 description gtl.sa.open.access
set firewall name wan.in.eth0 rule 30 destination group address-group gtl.sa.open.access
set firewall name wan.in.eth0 rule 30 log disable
set firewall name wan.in.eth0 rule 30 protocol all
set firewall name wan.in.eth0 rule 30 source group
set firewall name wan.in.eth0 rule 40 action accept
set firewall name wan.in.eth0 rule 40 description gtl.port.forward.allowed.data.centers
set firewall name wan.in.eth0 rule 40 destination group port-group gtl.port.forward.allowed
set firewall name wan.in.eth0 rule 40 log disable
set firewall name wan.in.eth0 rule 40 protocol all
set firewall name wan.in.eth0 rule 40 source group address-group gtl.data.centers
set firewall name wan.in.eth0 rule 50 action accept
set firewall name wan.in.eth0 rule 50 description gtl.port.forward.allowed.offices
set firewall name wan.in.eth0 rule 50 destination group port-group gtl.port.forward.allowed
set firewall name wan.in.eth0 rule 50 log disable
set firewall name wan.in.eth0 rule 50 protocol all
set firewall name wan.in.eth0 rule 50 source group address-group gtl.offices
set firewall name wan.in.eth0 rule 60 action accept
set firewall name wan.in.eth0 rule 60 description gtl.ant/z.gb1.outside
set firewall name wan.in.eth0 rule 60 destination group address-group gtl.ant/z.gb1.outside
set firewall name wan.in.eth0 rule 60 log disable
set firewall name wan.in.eth0 rule 60 protocol all
set firewall name wan.in.eth0 rule 70 action accept
set firewall name wan.in.eth0 rule 70 description 'gtl.voice.gatewway.ata       '
set firewall name wan.in.eth0 rule 70 destination group address-group gtl.voice.gatewway.ata
set firewall name wan.in.eth0 rule 70 log disable
set firewall name wan.in.eth0 rule 70 protocol all
set firewall name wan.in.eth0 rule 80 action accept
set firewall name wan.in.eth0 rule 80 description gtl.kiosk
set firewall name wan.in.eth0 rule 80 destination group address-group gtl.kiosk
set firewall name wan.in.eth0 rule 80 log disable
set firewall name wan.in.eth0 rule 80 protocol all
set firewall name wan.in.eth0 rule 90 action accept
set firewall name wan.in.eth0 rule 90 description gtl.command.public.ips
set firewall name wan.in.eth0 rule 90 log disable
set firewall name wan.in.eth0 rule 90 protocol all
set firewall name wan.in.eth0 rule 90 source group address-group gtl.command.public.ips
set firewall name wan.in.eth0 rule 100 action accept
set firewall name wan.in.eth0 rule 100 description gtl.data.centers
set firewall name wan.in.eth0 rule 100 log disable
set firewall name wan.in.eth0 rule 100 protocol all
set firewall name wan.in.eth0 rule 100 source group address-group gtl.data.centers
set firewall name wan.in.eth0 rule 110 action accept
set firewall name wan.in.eth0 rule 110 description gtl.offices
set firewall name wan.in.eth0 rule 110 log disable
set firewall name wan.in.eth0 rule 110 protocol all
set firewall name wan.in.eth0 rule 110 source group address-group gtl.offices
set firewall name wan.in.eth0 rule 120 action accept
set firewall name wan.in.eth0 rule 120 description gtl.iperf.public
set firewall name wan.in.eth0 rule 120 log disable
set firewall name wan.in.eth0 rule 120 protocol all
set firewall name wan.in.eth0 rule 120 source group address-group gtl.iperf.public
set firewall name wan.in.eth0 rule 130 action accept
set firewall name wan.in.eth0 rule 130 description gtl.unifi.controllers
set firewall name wan.in.eth0 rule 130 log disable
set firewall name wan.in.eth0 rule 130 protocol all
set firewall name wan.in.eth0 rule 130 source group address-group gtl.unifi.controllers
set firewall name wan.in.eth0 rule 140 action accept
set firewall name wan.in.eth0 rule 140 description gtl.unms.public
set firewall name wan.in.eth0 rule 140 log disable
set firewall name wan.in.eth0 rule 140 protocol all
set firewall name wan.in.eth0 rule 140 source group address-group gtl.unms.public
set firewall name wan.in.eth0 rule 150 action accept
set firewall name wan.in.eth0 rule 150 description ntp.port.public
set firewall name wan.in.eth0 rule 150 log disable
set firewall name wan.in.eth0 rule 150 protocol udp
set firewall name wan.in.eth0 rule 150 source group port-group ntp.port.public
set firewall name wan.in.eth0 rule 150 state established enable
set firewall name wan.in.eth0 rule 150 state invalid disable
set firewall name wan.in.eth0 rule 150 state new enable
set firewall name wan.in.eth0 rule 150 state related enable
set firewall name wan.in.eth0 rule 160 action accept
set firewall name wan.in.eth0 rule 160 description DNS
set firewall name wan.in.eth0 rule 160 log disable
set firewall name wan.in.eth0 rule 160 protocol all
set firewall name wan.in.eth0 rule 160 source group address-group dns.servers.public
set firewall name wan.in.eth0 rule 170 action accept
set firewall name wan.in.eth0 rule 170 description 'TouchPay NTP Servers'
set firewall name wan.in.eth0 rule 170 log disable
set firewall name wan.in.eth0 rule 170 protocol all
set firewall name wan.in.eth0 rule 170 source group address-group touchpay.ntpservers
set firewall name wan.in.eth0 rule 180 action accept
set firewall name wan.in.eth0 rule 180 description 'TouchPay Production'
set firewall name wan.in.eth0 rule 180 log disable
set firewall name wan.in.eth0 rule 180 protocol all
set firewall name wan.in.eth0 rule 180 source group address-group touchpay.production
set firewall name wan.in.eth0 rule 190 action accept
set firewall name wan.in.eth0 rule 190 description 'TouchPay Secure CC Processing'
set firewall name wan.in.eth0 rule 190 log disable
set firewall name wan.in.eth0 rule 190 protocol all
set firewall name wan.in.eth0 rule 190 source group address-group touchpay.secureccprocessing
set firewall name wan.in.eth0 rule 200 action accept
set firewall name wan.in.eth0 rule 200 description 'TouchPay Log Servers'
set firewall name wan.in.eth0 rule 200 log disable
set firewall name wan.in.eth0 rule 200 protocol all
set firewall name wan.in.eth0 rule 200 source group address-group touchpay.logservers
set firewall name wan.in.eth0 rule 210 action accept
set firewall name wan.in.eth0 rule 210 description 'Touchpay Vantiv Payment'
set firewall name wan.in.eth0 rule 210 log disable
set firewall name wan.in.eth0 rule 210 protocol all
set firewall name wan.in.eth0 rule 210 source group address-group touchpay.vantivpayment
